.form-control {
    border-radius: 3px;
    width: 600px;
    margin-left: 20px;
}

.search-icon {
    position: absolute;
    z-index: 10;
    right: 59%;
    top: 20px;
    color: blue;
}


#fields
{
    width: 500px;
}

#spancss
{
    padding-top: 7px;
    margin-left: -30px;
}


#header
{
    background-color: black;
}


#button
{
    padding-right: 20px;
}